* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: white;
  font-family: "DM Sans", sans-serif;
}
@media screen and (min-width: 375px) {
  body .sidebar {
    background-color: white;
    height: 283px;
  }
  body .navbar-brand {
    font-weight: bolder;
    color: #000;
    font-family: "DM Sans", sans-serif;
  }
  body .navbar-brand__header {
    font-weight: bolder;
    color: #000;
    text-decoration: none;
    left: 26px;
    position: absolute;
    padding: 25px;
    width: 5px;
  }
  body .nav-text {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
  }
  body .nav-text__button {
    width: 310px;
    height: 48px;
    background-color: #000;
    color: white;
    border: none;
    text-align: center;
    margin-left: 25px;
    padding: 13px;
    font-size: 15px;
    font-weight: bold;
  }
  body hr {
    width: 310px;
    height: 1px;
    opacity: 0.25;
    background: #000;
    margin-left: 15px;
  }
  body .image2 {
    padding: 16px;
  }
  body .main-section {
    background-color: #000;
    width: 375px;
    height: 560px;
  }
  body .main-section__h6 {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    margin-top: 48px;
    margin-left: 29px;
  }
  body .main-section__text1 {
    color: #FFF;
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 3.333px;
    text-transform: uppercase;
    margin: 33px;
  }
  body .main-section__textm {
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    margin-left: 33px;
    margin-right: 33px;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  body .main-section__text2 {
    color: #FFF;
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-left: 28px;
    margin-right: 29px;
    margin-top: 16px;
  }
  body .main-section__text3 {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 33px;
    margin-top: 26px;
  }
  body .main-section svg {
    margin-left: 16px;
  }
  body .section1 {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  body .section1__date {
    color: white;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
    position: absolute;
    top: 2.4%;
  }
  body .section1__date1 {
    color: white;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
    position: absolute;
    top: 6.7%;
  }
  body .section1__date2 {
    color: white;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
    position: absolute;
    top: 10.4%;
  }
  body .section1__date3 {
    color: red;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
  }
  body .section1__text1 {
    color: white;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-left: 30px;
    position: absolute;
    top: 2.7%;
  }
  body .section1__text2 {
    color: white;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
    position: absolute;
    top: 3%;
  }
  body .section1__text3 {
    margin-top: 10px;
    color: white;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    margin-left: 30px;
    position: absolute;
    top: 3.6%;
  }
  body .section1__line {
    margin-left: 30px;
    color: white;
    position: absolute;
    top: 3.3%;
  }
  body .section1__svg {
    padding-left: 117px;
  }
  body .section1__text4 {
    color: white;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-left: 30px;
    position: absolute;
    top: 7%;
  }
  body .section1__text5 {
    color: white;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    margin-left: 30px;
    position: absolute;
    top: 7.3%;
  }
  body .section1__hr__line1 {
    position: absolute;
    top: 7.6%;
    margin-left: 30px;
    color: #FFF;
  }
  body .section1__img1 {
    float: right;
  }
  body .section1__text6 {
    position: absolute;
    top: 8%;
    color: white;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    margin-left: 30px;
  }
  body .section1__text7 {
    color: white;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-left: 30px;
    position: absolute;
    top: 10.7%;
  }
  body .section1__text16 {
    position: absolute;
    top: 12.3%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    margin-left: 30px;
  }
  body .section1__text8 {
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    position: absolute;
    top: 11%;
    margin-left: 30px;
  }
  body .section1__hr__line2 {
    position: absolute;
    top: 11.4%;
    margin-left: 30px;
    color: #fff;
  }
  body .section1__img {
    float: right;
  }
  body .section1__text9 {
    color: red;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-left: 30px;
  }
  body .section1__text10 {
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-left: 30px;
  }
  body .section1__hr__line3 {
    margin-top: 16px;
    margin-left: 30px;
  }
  body .section1__text11 {
    margin-top: 20px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    margin-left: 30px;
  }
  body .footer {
    width: 375px;
    height: 539px;
    background-color: #000;
    margin-top: 80px;
  }
  body .footer__image2 {
    margin-top: 56px;
    margin-left: 102px;
    margin-right: 70px;
  }
  body .footer__svg {
    margin-top: 32px;
    margin-left: 80px;
    margin-right: 70px;
  }
  body .footer__icons {
    display: flex;
    margin-top: 32px;
    justify-content: center;
    gap: 14px;
  }
  body .footer__pages {
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 49px;
  }
  body .footer__li {
    text-decoration: none;
    list-style: none;
    margin-bottom: 19px;
  }
  body .footer__content {
    margin-top: 119px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 102px;
    letter-spacing: 2px;
  }
  body .footer__svg1 {
    margin-left: 22px;
  }
  body .footer__copy {
    margin-top: 34px;
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}/*# sourceMappingURL=stories.css.map */